
F\.R\.O\.S\.T/\.idea/

Testing/__pycache__/

Testing/testcase_generated\.txt

testcase_generated\.txt

Testing/testcase_result\.txt

Testing/\.idea/

*.xml

Rasberrytoarduino/Rasberrytoarduino/\.idea/

*.out

*.cmake

Flame/\.idea/

Flame/cmake-build-debug/

Flame/main\.cpp

Flame/CMakeLists\.txt

Dumb_flame/\.idea/

Dumb_flame/cmake-build-debug/CMakeFiles/3\.7\.1/

Dumb_flame/cmake-build-debug/CMakeFiles/

Dumb_flame/cmake-build-debug/

Dumb_flame/main\.cpp

Dumb_flame/CMakeLists\.txt

Smart_flame/cmake-build-debug/CMakeFiles/

Smartflame/cmake-build-debug/CMakeFiles/
